.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 85vh;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.jonathan{
  height: 30vh;
}
.icon{
height:5vh;
}

.tech{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:50vw;
  padding-top: 2vh;

}

.links{
  width: 40%;
  display: flex;
 justify-content: space-around;
 align-items: flex-end;
 flex-wrap: wrap;
 height: 5vh;
  
}

.links a{
  color: #25DBFF;
  text-decoration: none;
}

.links a:hover{
  color:black;
}

@media(max-width:600px){
.links{
  display: flex;
  flex-wrap: wrap;
  margin-top:3vh;
  width:90%;
}
.tech{
  margin-top:3vh;
  display: flex;
  flex-wrap: wrap;
  width:90%;
  
}

.tech img{
  height:12vh;
  margin:2px;
}
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


