.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.jonathan{
  height: 30vh;
}
.icon{
height:5vh;
}

.tech{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:50vw;
  padding-top: 2vh;

}

.links{
  
  display: flex;
  flex-direction: column;
 justify-content: space-around;
width:80vw;
align-items: center;
}

.links a{
  color: #25DBFF;
  text-decoration: none;
}

.links a:hover{
  color:black;
}

.projects{
  display: flex;
  justify-content: space-around;
  width:50vw;
}
.contact{
    display: flex;
    justify-content: space-around;
    width:30vw;
  
}
@media(max-width:900px){
  .links{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
  width:90vw;
  align-items: center;
  }
  .projects{
    display: flex;
    justify-content: space-around;
    width:100vw;
    
  }
  .contact{
      display: flex;
      justify-content: space-around;
      width:100vw;
      
    
  }

.tech{
  margin-top:5vh;
  display: flex;
  flex-wrap: wrap;
  width:90%;
  
}

.tech img{
  height:12vh;
  margin:2px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
 
 }
}
@media(max-width:900px){
.projects{
  display: flex;
  width:85vw;
  flex-wrap: wrap;
}

.projects, a{
  padding:5px;
}


}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


